img {
  box-shadow: 5px 5px 5px 5px;
  padding: 20px;
}

form {
  padding: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  margin: 10px;
}

footer {
  text-align: center;
  font-family: helvetica;
}

main {
  background-image: url("boysbw.jpg");
  background-size: 100%;
  position: fixed;
}

h3 {
  font-family: helvetica;
}

h4 {
  font-family: helvetica;
}

form {
  font-family: helvetica;
  font-size: 14px;
}

p {
  font-family: helvetica;
  font-size: 14px;
}

ul {
  font-family: helvetica;
  font-size: 14px;
}

a:visited {
  color: green;
}

a:hover {
  color: orange;
}

.pic-columns {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  font-family: Helvetica;
  font-size: 14px;
  padding: 10px;
  font-family: helvetica;
}

.height-image {
  height: 275px;
}

.shadow-text {
  font-family: helvetica;
  text-shadow: 3px 3px 3px #000000;
  color: white;
}

#more-info-header {
  font-size: 46px;
  line-height: 54px;
  font-family: helvetica;
  text-shadow: 5px 5px 5px #000000;
  text-align: center;
  padding: 20px;
  color: white;
}

#homepage {
  font-family: helvetica;
  text-align: center;
}

@media screen and (max-width: 715px) {
  h1 {
    font-size: 24px;
  }
  #more-info-header {
  font-size: 28px;
  line-height: 36px;
  font-family: helvetica;
  text-shadow: 5px 5px 5px #000000;
  text-align: center;
  padding: 20px;
  color: white;
}
  .pic-columns {
    width: 100%;
    display: inline-block;
    vertical-align: text-top;
    font-family: helvetica;
  }
  .shadow-text {
  font-family: helvetica;
  text-shadow: 3px 3px 3px #000000;
  color: white;
  font-size: 14px;
}
  
}
